% -*- mode: erlang -*-

%% EMP requires at least revision 15 
{require_otp_vsn, "R1[5-9].*"}.

%% Enable coverage reporting? (True if debugging.)
{cover_enabled, true}.
{cover_print_enabled, true}. 

%% Options that we want to go to the Erlang Compiler
{erl_opts, [
    debug_info %% Allow debugging?
    , fail_on_warning %% Don't allow even warnings when compiling!
    %, native  %% In order to get native HiPE support, NOT ALWAYS SUPPORTED!
]}. 

%% Let rebar know of all subdirectories/projects.
{sub_dirs,[ "src", "rel" ]}.

%% Let the Erlang compiler know where we keep our imported code.
{lib_dirs,["deps", "plugins"]}.

%% Get our dependencies from Github.
{deps, [
   {'erlzmq', ".*",
        {git, "git://github.com/Empd/erlzmq2.git", {branch, "master"}}},
   {'ejson', ".*", 
        {git, "git://github.com/Empd/ejson.git", {branch, "master"}}},
   {'empd', ".*",
   		{git, "git://github.com/Empd/empd.git", {branch, "master"}}},
   {'empdb', ".*", 
        {git, "git://github.com/Empd/empdb.git", {branch, "master"}}},
   {'emplog', ".*", 
        {git, "git://github.com/Empd/emplog.git", {branch, "master"}}},

%% Grabs all default plugins, go to ./plugins/rebar.config to change which
%% ones you actually want installed.
   {'emp_baseplugins', ".*", 
        {git, "git://github.com/Empd/emp-baseplugins.git", 
              {branch, "master"}}, [raw]},

%% Grab all the interfaces you would like to install. 
	{'emp_tcpi', ".*",
        {git, "git://github.com/Empd/emp_tcpi.git", {branch, "master"}}}
	             
]}.

